*.log
*~
.#*
.DS_Store
.org-id-locations
\#*
\#*\#
auto-save-list
bin/go/pkg
bin/go/src
custom.el
dot.config/Abricotine
dot.config/Keeper*
dot.config/Slack
dot.config/Unknown*
dot.config/Yubico
dot.config/chromium
dot.config/configstore
dot.config/enchant
dot.config/eog
dot.config/evolution
dot.config/gcloud
dot.config/gconf
dot.config/gedit
dot.config/gnome-boxes
dot.config/gnome-initial-setup-done
dot.config/gnome-session
dot.config/goa-1.0
dot.config/google-chrome
dot.config/grv
dot.config/ibus
dot.config/mimeapps.list
dot.config/nautilus
dot.config/procps
dot.config/pulse
dot.config/rclone
dot.config/vivaldi
dot.config/wtf
dot.config/yelp
dot.local/bin
dot.local/lib
dot.local/share/JetBrains
dot.local/share/tracker
dot.local/share/Trash
dot.local/share/keyrings
org-clock-save.el
org-mode-config.el
url/
