<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DateCompleted</key>
	<dict>
		<key>com.apple.CacheDelete.daily</key>
		<date>2017-03-10T13:00:51Z</date>
		<key>com.apple.SoftwareUpdate.Activity</key>
		<date>2017-03-10T13:00:46Z</date>
		<key>com.apple.SoftwareUpdate.OneTimeBackgroundCheckActivity</key>
		<date>2017-01-06T11:36:23Z</date>
		<key>com.apple.SoftwareUpdate.Stage.Activity</key>
		<date>2017-02-22T09:52:04Z</date>
		<key>com.apple.applessdstatistics.activity</key>
		<date>2017-03-06T14:29:54Z</date>
		<key>com.apple.apsd.apprefresh</key>
		<date>2017-03-10T12:18:13Z</date>
		<key>com.apple.corestorage.corestoraged.backgroundTransform</key>
		<date>2016-09-25T06:01:29Z</date>
		<key>com.apple.helpd.sdmmap_building</key>
		<date>2017-01-10T01:12:22Z</date>
		<key>com.apple.helpd.sdmmap_updating</key>
		<date>2017-01-10T01:12:22Z</date>
		<key>com.apple.mds.0</key>
		<date>2017-02-23T01:40:10Z</date>
		<key>com.apple.mds.1</key>
		<date>2017-03-07T14:44:30Z</date>
		<key>com.apple.mds.10</key>
		<date>2016-07-29T04:31:20Z</date>
		<key>com.apple.mds.2</key>
		<date>2017-02-23T02:24:59Z</date>
		<key>com.apple.mds.22</key>
		<date>2017-02-16T06:24:14Z</date>
		<key>com.apple.mds.3</key>
		<date>2017-02-24T04:14:09Z</date>
		<key>com.apple.mds.5</key>
		<date>2017-02-23T17:00:37Z</date>
		<key>com.apple.mds.6</key>
		<date>2016-08-20T06:34:33Z</date>
		<key>com.apple.mds.7</key>
		<date>2016-07-29T11:17:11Z</date>
		<key>com.apple.mds.8</key>
		<date>2016-07-29T11:17:11Z</date>
		<key>com.apple.mds.9</key>
		<date>2016-07-29T04:31:20Z</date>
		<key>com.apple.mds_stores.0</key>
		<date>2017-03-07T14:44:30Z</date>
		<key>com.apple.mds_stores.1</key>
		<date>2016-12-15T13:44:07Z</date>
		<key>com.apple.mds_stores.10</key>
		<date>2016-08-23T01:44:54Z</date>
		<key>com.apple.mds_stores.11</key>
		<date>2016-08-23T01:44:54Z</date>
		<key>com.apple.mds_stores.12</key>
		<date>2016-08-23T01:44:54Z</date>
		<key>com.apple.mds_stores.13</key>
		<date>2016-08-23T01:44:54Z</date>
		<key>com.apple.mds_stores.14</key>
		<date>2016-08-23T01:44:54Z</date>
		<key>com.apple.mds_stores.15</key>
		<date>2016-08-23T01:44:54Z</date>
		<key>com.apple.mds_stores.2</key>
		<date>2016-11-05T19:51:14Z</date>
		<key>com.apple.mds_stores.21</key>
		<date>2016-08-23T01:44:54Z</date>
		<key>com.apple.mds_stores.3</key>
		<date>2016-11-05T19:51:14Z</date>
		<key>com.apple.mds_stores.4</key>
		<date>2016-11-05T17:28:07Z</date>
		<key>com.apple.mds_stores.5</key>
		<date>2016-11-05T17:28:07Z</date>
		<key>com.apple.mds_stores.6</key>
		<date>2016-08-26T05:48:07Z</date>
		<key>com.apple.mds_stores.7</key>
		<date>2016-08-26T05:48:04Z</date>
		<key>com.apple.mds_stores.8</key>
		<date>2016-08-26T05:48:04Z</date>
		<key>com.apple.mds_stores.9</key>
		<date>2016-08-26T05:48:04Z</date>
		<key>com.apple.metadata.mds.power</key>
		<date>2017-03-08T19:52:32Z</date>
		<key>com.apple.metadata.mds_stores.power</key>
		<date>2017-03-10T13:04:16Z</date>
		<key>com.apple.networkd.powernap.nsurlsessiond.275.628</key>
		<date>2016-11-25T15:29:41Z</date>
		<key>com.apple.noticeboard.update</key>
		<date>2017-01-10T01:12:21Z</date>
		<key>com.apple.periodic-daily</key>
		<date>2017-03-10T13:01:03Z</date>
		<key>com.apple.periodic-monthly</key>
		<date>2017-03-02T01:33:27Z</date>
		<key>com.apple.periodic-weekly</key>
		<date>2017-03-06T18:55:32Z</date>
		<key>com.apple.quicklook.cloudThumbnailDatabaseCleanup</key>
		<date>2017-01-10T01:12:21Z</date>
		<key>com.apple.revisiond.requeue_chunking</key>
		<date>2017-03-10T13:00:46Z</date>
		<key>com.apple.sandboxd.telemetry</key>
		<date>2017-03-10T01:31:50Z</date>
		<key>com.apple.security.syspolicy.rearm</key>
		<date>2017-03-10T01:31:50Z</date>
		<key>com.apple.usbd.messageTracerLogging</key>
		<date>2017-03-10T13:00:47Z</date>
	</dict>
	<key>DateSubmitted</key>
	<dict>
		<key>com.apple.CacheDelete.daily</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.SoftwareUpdate.Activity</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.SoftwareUpdate.Stage.Activity</key>
		<date>2016-06-28T14:41:49Z</date>
		<key>com.apple.applessdstatistics.activity</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.apsd.apprefresh</key>
		<date>2017-01-06T06:36:22Z</date>
		<key>com.apple.helpd.sdmmap_updating</key>
		<date>2016-09-03T02:38:52Z</date>
		<key>com.apple.noticeboard.update</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.periodic-daily</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.periodic-monthly</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.periodic-weekly</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.quicklook.cloudThumbnailDatabaseCleanup</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.revisiond.requeue_chunking</key>
		<date>2017-01-08T00:32:30Z</date>
		<key>com.apple.sandboxd.telemetry</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.security.syspolicy.rearm</key>
		<date>2016-05-31T03:10:39Z</date>
		<key>com.apple.usbd.messageTracerLogging</key>
		<date>2017-01-11T02:53:49Z</date>
	</dict>
</dict>
</plist>
