<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classes</key>
	<dict>
		<key>com.apple.pivtoken</key>
		<string>2875EDEF-0AD1-4622-8B37-ED5CA93CC2CC</string>
		<key>com.apple.setoken</key>
		<string>8B4DC0E7-B396-47AD-859D-F6031E308353</string>
	</dict>
	<key>tokens</key>
	<dict>
		<key>com.apple.setoken</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwXGxwi
		JilVJG51bGzVDQ4PEBESExQVFlpwZXJzaXN0ZW50V3Rva2VuaWRUZGF0YVVp
		dGVtc1YkY2xhc3MJgAKAAIAFgAfSGBEZGld0b2tlbklEgAOABF8QEWNvbS5h
		cHBsZS5zZXRva2Vu0h0eHyBaJGNsYXNzbmFtZVgkY2xhc3Nlc1lUS1Rva2Vu
		SUSiHyFYTlNPYmplY3TSIxEkJVpOUy5vYmplY3RzoIAG0h0eJyhXTlNBcnJh
		eaInIdIdHiorW1RLSG9zdFRva2VuoiwhW1RLSG9zdFRva2VuAAgAEQAaACQA
		KQAyADcASQBMAFEAUwBcAGIAbQB4AIAAhQCLAJIAkwCVAJcAmQCbAKAAqACq
		AKwAwADFANAA2QDjAOYA7wD0AP8BAAECAQcBDwESARcBIwEmAAAAAAAAAgEA
		AAAAAAAALQAAAAAAAAAAAAAAAAAAATI=
		</data>
		<key>com.apple.setoken:aks</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwXGxwi
		JilVJG51bGzVDQ4PEBESExQVFlpwZXJzaXN0ZW50V3Rva2VuaWRUZGF0YVVp
		dGVtc1YkY2xhc3MJgAKAAIAFgAfSGBEZGld0b2tlbklEgAOABF8QFWNvbS5h
		cHBsZS5zZXRva2VuOmFrc9IdHh8gWiRjbGFzc25hbWVYJGNsYXNzZXNZVEtU
		b2tlbklEoh8hWE5TT2JqZWN00iMRJCVaTlMub2JqZWN0c6CABtIdHicoV05T
		QXJyYXmiJyHSHR4qK1tUS0hvc3RUb2tlbqIsIVtUS0hvc3RUb2tlbgAIABEA
		GgAkACkAMgA3AEkATABRAFMAXABiAG0AeACAAIUAiwCSAJMAlQCXAJkAmwCg
		AKgAqgCsAMQAyQDUAN0A5wDqAPMA+AEDAQQBBgELARMBFgEbAScBKgAAAAAA
		AAIBAAAAAAAAAC0AAAAAAAAAAAAAAAAAAAE2
		</data>
	</dict>
</dict>
</plist>
