SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be executed

## PingRateDNS for Conky latency graph
#--------------------------------------------------------------------------------
* * * * *       root    /usr/local/bin/one.sh /usr/local/bin/pingrate-dns

## Backup crontab
#--------------------------------------------------------------------------------
07 * * * *       root   cp /etc/crontab /home/mwinterschon/Projects/dotfiles/etc/$HOSTNAME/etc/crontab && chown mwinterschon: /home/mwinterschon/Projects/dotfiles/etc/$HOSTNAME/etc/crontab


## Backup Gnome3 settings + keybindings
#--------------------------------------------------------------------------------
07 * * * *       mwinterschon   /bin/dconf dump / > /home/mwinterschon/Projects/dotfiles/gnome3/dconf.global-settings-gnome3_$HOSTNAME.conf
07 * * * *       mwinterschon   dconf dump /org/gnome/settings-daemon/plugins/media-keys/ > /home/mwinterschon/Projects/dotfiles/gnome3/gnome3.keyboard-remapping-media-keys.conf
07 * * * *       mwinterschon   dconf dump /org/gnome/desktop/wm/keybindings/ > /home/mwinterschon/Projects/dotfiles/gnome3/gnome3.keyboard-remapping-generic-keys.conf
07 * * * *       mwinterschon   dconf dump /org/gnome/terminal/ > /home/mwinterschon/Projects/dotfiles/gnome3/gnome3.terminal.$HOSTNAME.conf

## ZFS Scrubbing
#--------------------------------------------------------------------------------
0 0 * * 7 root  /sbin/zpool scrub sechszehn >/dev/null 2>&1
