#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gliffy Diagrams
Exec=/usr/lib64/chromium-browser/chromium-browser.sh "--profile-directory=Profile 1" --app-id=bhmicilclplefnflapjmnngmkkkkpfad
Icon=chrome-bhmicilclplefnflapjmnngmkkkkpfad-Profile_1
StartupWMClass=crx_bhmicilclplefnflapjmnngmkkkkpfad
