[Desktop Entry]
Type=Application
Name=Tor Browser
GenericName=Tor Web Browser
Comment=Tor Browser is +1 for privacy and −1 for mass surveillance
Categories=Network;WebBrowser;Security;
Exec=/usr/local/bin/TorBrowser/start-tor-browser --detach
X-TorBrowser-ExecShell=/usr/local/bin/TorBrowser/start-tor-browser --detach
Icon=web-browser
StartupWMClass=Tor Browser
