<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DateCompleted</key>
	<dict>
		<key>com.apple.CacheDelete.daily</key>
		<date>2017-03-07T21:26:30Z</date>
		<key>com.apple.SoftwareUpdate.Activity</key>
		<date>2017-03-07T17:49:20Z</date>
		<key>com.apple.SoftwareUpdate.OneTimeBackgroundCheckActivity</key>
		<date>2017-02-22T16:53:26Z</date>
		<key>com.apple.applessdstatistics.activity</key>
		<date>2017-02-26T21:13:33Z</date>
		<key>com.apple.apsd.apprefresh</key>
		<date>2017-02-27T17:31:45Z</date>
		<key>com.apple.helpd.sdmmap_building</key>
		<date>2017-02-17T18:17:21Z</date>
		<key>com.apple.helpd.sdmmap_updating</key>
		<date>2017-02-17T18:17:21Z</date>
		<key>com.apple.mds.0</key>
		<date>2017-03-07T22:03:47Z</date>
		<key>com.apple.mds.1</key>
		<date>2017-03-01T20:48:52Z</date>
		<key>com.apple.mds.2</key>
		<date>2017-03-01T20:48:52Z</date>
		<key>com.apple.mds.5</key>
		<date>2017-02-22T23:40:09Z</date>
		<key>com.apple.mds_stores.0</key>
		<date>2017-03-06T15:57:42Z</date>
		<key>com.apple.mds_stores.1</key>
		<date>2017-02-17T18:17:18Z</date>
		<key>com.apple.metadata.mds.power</key>
		<date>2017-03-06T22:01:51Z</date>
		<key>com.apple.metadata.mds_stores.power</key>
		<date>2017-03-07T23:39:30Z</date>
		<key>com.apple.noticeboard.update</key>
		<date>2017-02-17T18:17:23Z</date>
		<key>com.apple.periodic-daily</key>
		<date>2017-03-07T05:15:11Z</date>
		<key>com.apple.periodic-weekly</key>
		<date>2017-03-02T21:50:23Z</date>
		<key>com.apple.quicklook.cloudThumbnailDatabaseCleanup</key>
		<date>2017-02-17T18:17:20Z</date>
		<key>com.apple.revisiond.requeue_chunking</key>
		<date>2017-03-07T21:49:19Z</date>
		<key>com.apple.sandboxd.telemetry</key>
		<date>2017-03-07T04:14:20Z</date>
		<key>com.apple.security.syspolicy.rearm</key>
		<date>2017-03-07T04:14:20Z</date>
		<key>com.apple.usbd.messageTracerLogging</key>
		<date>2017-03-07T05:14:20Z</date>
	</dict>
	<key>DateSubmitted</key>
	<dict>
		<key>com.apple.CacheDelete.daily</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.SoftwareUpdate.Activity</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.SoftwareUpdate.Stage.Activity</key>
		<date>2017-02-22T16:54:45Z</date>
		<key>com.apple.applessdstatistics.activity</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.apsd.apprefresh</key>
		<date>2017-02-17T18:21:45Z</date>
		<key>com.apple.helpd.sdmmap_updating</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.noticeboard.update</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.periodic-daily</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.periodic-monthly</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.periodic-weekly</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.quicklook.cloudThumbnailDatabaseCleanup</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.revisiond.requeue_chunking</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.sandboxd.telemetry</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.security.syspolicy.rearm</key>
		<date>2017-02-15T23:43:41Z</date>
		<key>com.apple.usbd.messageTracerLogging</key>
		<date>2017-02-15T23:43:41Z</date>
	</dict>
</dict>
</plist>
