<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlocklistAutoUpdate</key>
	<true/>
	<key>BlocklistNew</key>
	<true/>
	<key>BlocklistURL</key>
	<string>http://john.bitsurge.net/public/biglist.p2p.gz</string>
	<key>DeleteOriginalTorrent</key>
	<true/>
	<key>DownloadAsk</key>
	<false/>
	<key>IncompleteDownloadFolder</key>
	<string>/Users/meverett/Downloads/Torrents</string>
	<key>MagnetOpenAsk</key>
	<false/>
	<key>UseIncompleteDownloadFolder</key>
	<true/>
	<key>WarningDonate</key>
	<false/>
	<key>WarningLegal</key>
	<false/>
</dict>
</plist>
