<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.appstore:584</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGdndYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QGgcIOjs8PT4/QEhOT1VZWl5fY2Rna29wcXJzVSRudWxs3xAZCQoLDA0ODxAR
	EhMUFRYXGBkaGxwdHh8gISIjJCUmJygiKissIi4vMDEsMzQvNSw3LCVYX2FwcFBhdGhf
	EBVfc3RvcmVTZWN1cmVVUkxTY2hlbWVfEA9fc3RvcmVVUkxTY2hlbWVZX2lzRGFlbW9u
	Xl90b29sYmFyQmFnS2V5XxAXX2FnZW50UHJlZmVyZW5jZXNEb21haW5fEBFfZnJhbWV3
	b3JrVmVyc2lvblVfZGFhcFRfcGlkW19jbGllbnRUeXBlWl9hc2xEb21haW5fEBBfZGlz
	cGxheVVJSG9zdElEXxAUX3VzZXJBZ2VudEFwcFZlcnNpb25eX21lZGlhVHlwZU1hc2tf
	EBJfYWdlbnRMaXN0ZW5lck5hbWVWJGNsYXNzXxAVX2FwcFByZWZlcmVuY2VzRG9tYWlu
	XxARX3N0b3JlRnJvbnRCYWdLZXlfEA9fc2FuZGJveEJhZ1VSTHNfEBBfcmVxdWlyZWRC
	YWdUeXBlXxARX3VzZXJBZ2VudEFwcE5hbWVbX2lkZW50aWZpZXJfEBJfcHJvZHVjdGlv
	bkJhZ1VSTHNfEBlfdGVtcFBhdGhDbGllbnRJZGVudGlmaWVyXxAdX19hbHdheXNVc2VT
	YW5kYm94RW52aXJvbm1lbnSAAIAYgBcIgBaABBECSIAAE///////////EACAAoAAgAYQ
	AYADgBmAAoAHgBOABYACgAiAAghfEBJjb20uYXBwbGUuYXBwc3RvcmVfEBhjb20uYXBw
	bGUuc3RvcmVhZ2VudC14cGNfEBJjb20uYXBwbGUuY29tbWVyY2VbTWFjQXBwU3RvcmVT
	Mi4yWnN0b3JlRnJvbnTSQRhCR1pOUy5vYmplY3RzpENERUaACYAMgA6AEIAS00kYSiJM
	TVdOUy5iYXNlW05TLnJlbGF0aXZlgACAC4AKXxAqaHR0cHM6Ly9pbml0Lml0dW5lcy5h
	cHBsZS5jb20vYmFnLnhtbD9peD010lBRUlNaJGNsYXNzbmFtZVgkY2xhc3Nlc1VOU1VS
	TKJSVFhOU09iamVjdNNJGEoiTFiAAIALgA1fECpodHRwczovL2luaXQuaXR1bmVzLmFw
	cGxlLmNvbS9iYWcueG1sP2l4PTXTSRhKIkxdgACAC4APXxAsaHR0cDovL2F4LmluaXQu
	aXR1bmVzLmFwcGxlLmNvbS9iYWcueG1sP2l4PTXTSRhKIkxigACAC4ARXxAkaHR0cDov
	L3Bob2Jvcy5hcHBsZS5jb20vYmFnLnhtbD9peD010lBRZWZXTlNBcnJheaJlVNJBGGhH
	oWmAFIAS00kYSiJMboAAgAuAFV8QLGh0dHA6Ly9zYW5kYm94Lml0dW5lcy5hcHBsZS5j
	b20vYmFnLnhtbD9peD01WmRhLXRvb2xiYXJbbWFjYXBwc3RvcmVcbWFjYXBwc3RvcmVz
	0lBRdHVdSVNTdG9yZUNsaWVudKJ0VF8QD05TS2V5ZWRBcmNoaXZlctF4eVRyb290gAEA
	CAARABoAIwAtADIANwBUAFoAjwCYALAAwgDMANsA9QEJAQ8BFAEgASsBPgFVAWQBeQGA
	AZgBrAG+AdEB5QHxAgYCIgJCAkQCRgJIAkkCSwJNAlACUgJbAl0CXwJhAmMCZQJnAmkC
	awJtAm8CcQJzAnUCdwJ4Ao0CqAK9AskCzQLYAt0C6ALtAu8C8QLzAvUC9wL+AwYDEgMU
	AxYDGANFA0oDVQNeA2QDZwNwA3cDeQN7A30DqgOxA7MDtQO3A+YD7QPvA/ED8wQaBB8E
	JwQqBC8EMQQzBDUEPAQ+BEAEQgRxBHwEiASVBJoEqASrBL0EwATFAAAAAAAAAgEAAAAA
	AAAAegAAAAAAAAAAAAAAAAAABMc=
	</data>
</dict>
</plist>
